@import  url(https://fonts.googleapis.com/css?family=Raleway:400,600,800);

body {
    font-family: Raleway;
    text-align: center;
    background-color: #1f1f21;
    color: rgba(255, 255, 255, 0.767);
}
nav {
    text-align: left;
}
nav > a {
    font-size: 1.2em;
    color: rgba(255, 255, 255, 0.651);
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
}
nav > a:hover {
    color: white;
    transition-duration: 0.7s;
    text-decoration: underline;
}
footer {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.747);
    line-height: 30px;
    color: rgba(255, 255, 255, 0.651);
    font-size: 0.8em;
}
footer > p > a {
    color: white;
    text-decoration: none;
}
footer > p > a:hover {
    text-decoration: underline;
}
section {
    text-align: center;
    height: 480px;
    background-image: url(imagens/background.jpg);
    background-position: center;
}
div {
    margin: auto;
    height: 100px;
    background-color: transparent;
}
input {
    border-radius: 6px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 0px;
}
input:hover {
    background-color: white;
    color: black;
    transition-duration: 0.7s;
}

.col-1 {
    margin-right: 460px;
    margin-top: 70px;
}
.col-2 {
    margin-left: 60px;
}
#op2 {
    margin-top: 55px;
}
#op3 {
    margin-top: 40px;
}
#bt3 {
    margin-left: 65px;
}
#bt6 {
    margin-left: 0px;
}