@import  url(https://fonts.googleapis.com/css?family=Raleway:400,600,800);

body {
    font-family: Raleway;
    text-align: center;
    background-color: #1f1f21;
    color: rgba(255, 255, 255, 0.767);
}
nav {
    font-size: 0.9em;
    text-align: left;
}
h1 {
    font-size: 1.8em;
}
nav > a {
    color: rgba(255, 255, 255, 0.651);
    text-decoration: none;
    padding-left: 100px;
    padding-right: 100px;
}
nav > a:hover {
    color: white;
    transition-duration: 0.7s;
    text-decoration: underline;
}
footer {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.747);
    line-height: 30px;
    color: rgba(255, 255, 255, 0.651);
    font-size: 0.8em;
}
footer > p > a {
    color: white;
    text-decoration: none;
}
footer > p > a:hover {
    text-decoration: underline;
}
section {
    text-align: center;
    height: 480px;
    background-image: url(../imagens/background-m.jpg);
    background-position: center;
}
div {
    margin: auto;
    height: 100px;
    background-color: transparent;
}
input {
    border-radius: 6px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.7em;
    color: white;
    background-color: transparent;
    border: 0px;
}
input:hover{
    background-color: white;
    color: black;
    transition-duration: 0.7s;
}
#op2 {
    margin-top: 130px;
}
#op3 {
    margin-top: 0px;
}
#bt1 {
    margin-top: 110px;
    margin-left: 380px;
}
#bt2 {
    margin-left: 410px;
}
#bt3 {
    margin-left: 320px;
}
#bt4 {
    white-space: normal;
    word-wrap: break-word;
    width: 80px;
}