@import  url(https://fonts.googleapis.com/css?family=Raleway:400,600,800);
@import url(https://fonts.googleapis.com/css2?family=Vollkorn:wght@700&display=swap);

/* HOME */

body {
    font-family: Raleway;
    text-align: center;
    background-color: #1f1f21;
    color: rgba(255, 255, 255, 0.767);
}
h1 {
    font-size: 1.8em;
}
nav {
    font-size: 0.9em;
    text-align: center;
}
nav > input {
    font-size: 1.2;
    color: rgba(255, 255, 255, 0.651);
    background-color: transparent;
    margin-left: 50px;
    margin-right: 50px;
    border: 0px;
}
nav > input:hover {
    color: white;
    transition-duration: 0.7s;
    text-decoration: underline;
}
section {
    text-align: center;
    height: 480px;
    background-image: url(../imagens/background-m.jpg);
    background-position: center;
}
div {
    margin: auto;
    height: 100px;
    background-color: transparent;
}
div > input {
    border-radius: 6px;
    padding: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 0.7em;
    color: rgba(255, 255, 255, 0.89);
    background-color: transparent;
    border: 0px;
}
div > input:hover{
    background-color: white;
    color: black;
    transition-duration: 0.7s;
}
#op2 {
    margin-top: 130px;
}
#op3 {
    margin-top: 0px;
}
#bt1 {
    margin-top: 110px;
    margin-left: 370px;
}
#bt2 {
    margin-left: 430px;
}
#bt3 {
    margin-left: 320px;
}
#bt4 {
    white-space: normal;
    word-wrap: break-word;
    width: 100px;
}
footer {
    height: 30px;
    background-color: rgba(0, 0, 0, 0.747);
    line-height: 30px;
    color: rgba(255, 255, 255, 0.651);
    font-size: 0.8em;
}
footer > p > a {
    color: white;
    text-decoration: none;
}
footer > p > a:hover {
    text-decoration: underline;
}

/* SOBRE */

h2 {
    font-size: 1.5em;
}
iframe {
    width: 600px;
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.411);
}
#faleconosco {
    color: rgba(255, 255, 255, 0.89);
    border: 0px;
    background-color: transparent;
    font-weight: bold;
}
#faleconosco:hover {
    text-decoration: underline;
}
section > p {
    display: block;
    padding: 8px 0px 15px 0px;
    margin: auto;
    width: 600px;
    background-color: #1f1f21;
}